<!DOCTYPE html>
<html ng-app='AngularDesserts'>
  <head>
    <meta charset="utf-8">
    <title>Angular Desserts</title>
  </head>
  <body ng-controller="mainCtrl">
    <nav class="navbar is-danger">
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="home">Home</a>
        <a class="navbar-item" ui-sref="dessertsIndex">All the Desserts</a>
        <a class="navbar-item" ui-sref="dessertsNew">Add a New Dessert</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Log in</a>
        <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">Sign Up</a>
        <a ng-if="isAuthenticated()" class="navbar-item" ng-click="handleLogout()">Log out {{ username }}</a>
      </div>
    </nav>
    <div class="container">
      <div ui-view></div>
    </div>
    <footer class="footer is-danger">
      <p class="has-text-centered">Made by WDI37</p>
    </footer>
  </body>
</html>
