<h1 class="title is-1">All the fish, all the time</h1>
<section>
  <div class="columns is-multiline">
    <div ng-repeat="fish in fishes" class="column is-4">
      <a ui-sref="fishesShow({ id: fish._id })">
        <div class="card">
          <div class="card-header">
            {{ fish.name }}
          </div>
          <div class="card-image">
            <figure class="image">
              <img src="{{ fish.imageUrl }}" alt="{{ fish.name }}">
            </figure>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
