<nav class="navbar is-info">
  <div class="navbar-start">
    <h2 class="title is-2"><a href="/">EJS Puppers</a></h2>
  </div>
  <div class="navbar-end">
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/about">About</a></li>
      <li class="navbar-item"><a href="/puppies">Explore</a></li>
      <li class="navbar-item"><a href="/puppies/new">Add a Puppy</a></li>
    </ul>
  </div>
</nav>
