* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

div:empty,
header,
footer {
  background: grey;
}

/* Your styles here... */

header {
  height: 20vh;
}

div:first-of-type {
  width: 20vw;
  height: 54vh;
  position: absolute;
  top: 23%;
}

div:nth-of-type(2) {
  width: 56vw;
  height: 54vh;
  position: absolute;
  top: 23%;
  left: 22%;
}

div:last-of-type {
  width: 20vw;
  height: 54vh;
  position: absolute;
  top: 23%;
  right: 0;
}

footer {
  width: 100vw;
  height: 20vh;
  position: absolute;
  bottom: 0;
}
