body {
  background-color: aliceblue;
  /* font-family: 'Indie Flower', cursive; */
}

* {
  font-family: 'Indie Flower', cursive;
}

a {
  color: black;
}

img {
  width: 300px;
}

.hero {
  height: 70vh;
}

.hero-body {
  margin: 20vh;
}

.section {
  /* TODO: fix this padding */
  padding: 1rem;
}
