section.contact {
  background: $about-and-contact-background-color;
  border-top: 5px solid darken($about-and-contact-background-color, 2%);
  div {
    margin: 0 auto;
    width: 80%;
    padding: 35px;
    h3 {
      margin: 25px;
      margin-top: -5px;
      font-size: 45px;
    }
    form {
      label {
        font-size: 25px;
        font-weight: 300;
      }
      input {
        padding: 10px 150px;
        font-size: 20px;
        margin: 5px 0 20px 0;
      }
      input, textarea {
        border: 2px solid lighten($body-color, 60%);
        border-radius: 3px;
        font-weight: 300;
        background: lighten($about-and-contact-background-color, 0.2%);
      }
      button.submit {
        border: 2px solid $submit-border-color;
        width: 500px;
      }
    }
  }
}
