footer {
  border-top: 5px solid darken($about-and-contact-background-color, 2%);
  text-align: center;
  line-height: 100px;
  height: 100px;
  background: lighten($body-color, 100%);
  p {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    span {
      color: $span-color;
    }
  }
}
