section.home {
  height: 750px;
  background: url(http://3.bp.blogspot.com/-xQ50cuaGanI/VSyfX1Bn2WI/AAAAAAABJDk/I8hDcQ_bvSw/s1600/unsplash-guyonwall.jpg) no-repeat center center fixed;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: $home-before-background-color;
  }
  h1 {
    color: lighten($body-color, 100%);
    font-weight: 400;
    font-size: 120px;
    letter-spacing: -5px;
  }
  h2 {
    color: darken($about-and-contact-background-color, 2%);
    font-weight: 300;
    font-size: 25px;
  }
}
