<h2 class="title is-2">All the Desserts</h2>
<section>
  <div class="columns is-multiline">
    <div ng-repeat="dessert in desserts" class="column is-3">
      <a ui-sref="dessertsShow({ id: dessert._id })">
        <div class="card">
          <div class="card-header">
            <h3 class="subtitle is-3">{{ dessert.name }}</h3>
          </div>
          <div class="card-image">
            <figure class="image">
              <img src="{{ dessert.imageUrl }}" alt="{{ dessert.name }}">
            </figure>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
