.buttons {
  display: flex;
}
.delete-button {
  border-radius: 100%;
}

// These two blocks position the flash messages at the top of the screen.
.alert-container {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 100;
  opacity: 0.8
}

.alert {
  position: absolute;
}
