.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/25/Reefscape.jpg);
  background-size: cover;
  h1,h2,h3 {
    color: white;
  }
}
