<h1>Welcome to Happy Hour</h1>
<h2>Where all your dreams go weird</h2>
<% if (locals.isLoggedIn) { %>
  <p>Welcome back <%= locals.currentUser.username %></p>
<% } else { %>
  <p>Why not log in to enjoy all our delicious features...</p>
<% }%>
