<form action="/cocktails/<%= _id %>?_method=PUT" method="post">
  <input name="name" value="<%= name %>">
  <input name="image" value="<%= image %>">
  <input name="price" value="<%= price %>">
  <button>Update my cocktail!</button>
</form>
