<h1><%= username %></h1>
<h1>Puppies I have commented on </h1>

<% comments.forEach(comment => { %>
  <p><strong><%= comment.name %></strong></p>
<% })%>

<h1>Puppies I have added </h1>
<% addedPuppies.forEach(puppy => { %>
    <p><strong><%= puppy.name %></strong></p>
<% }) %>
