$font-default: 'Lato', sans-serif;

$body-color: #333;
$about-and-contact-background-color: #fafafa;
$header-background-color: rgba(0,0,0,0.15);
$home-before-background-color: rgba(0, 0, 0, 0.45);
$span-color: #E31F1F;
$submit-border-color: #378B2E;

$btn-hover: 1px 2px 42px -13px rgba(0,0,0,0.75);
