<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>de Beers</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li><a href="/beers">Index</a></li>
      </ul>
    </nav>
    <%- body %>
    <footer>Made by me</footer>
  </body>
</html>
