<!DOCTYPE html>
<html ng-app='fish'>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="mainCtrl">
    <nav class="navbar">
      <a class="navbar-item" ui-sref="home">Home</a>
      <a class="navbar-item" ui-sref="fishesIndex">All the fish</a>
      <a class="navbar-item" ui-sref="fishesNew">Create a fish (GODMODE)</a>
      <a ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">Log in</a>
      <a ng-if="isAuthenticated()" class="navbar-item" ng-click="handleLogout()">Log out {{ username }}</a>
    </nav>
    <flash-message></flash-message>
    <!-- NOTE: We don't want a container on the homepage -->
    <main class="container" ng-if="!isHomepage">
      <div ui-view></div>
    </main>
    <!-- NOTE: This is so the background image can fill the screen -->
    <div ui-view ng-if="isHomepage"></div>
    <footer class="footer is-dark">
      Made with ❤️ for WDI 37 by Rob Levy
    </footer>
  </body>
</html>
