<form class="" action="/birds/<%= _id %>?_method=PUT" method="post">
    <input type="text" name="name" value="<%= name %>">
    <input type="text" name="flightDistance" value="<%= flightDistance %>">
    <button>Submit</button>
</form>
