<h2 class="title is-2">Login</h2>

<form action="/login" method="post">
  <div class="field">
    <label class="label is-size-4" for="email">Email</label>
    <input class="input is-info" type="email" name="email" value="">
  </div>

  <div class="field">
    <label class="label is-size-4" for="password">Password</label>
    <input class="input is-info" type="password" name="password" value="">
  </div>

  <button class="button is-info is-rounded">Login</button>

</form>
