body {
  font-size: 20px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  background-color: #85144b;
  color: white;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
h1{
  text-transform: uppercase;
  color: yellow;
}
