/* Make all h1 underlined */
h1 {
  text-decoration: underline;
}

/* Make the table header bigger */
thead {
  font-size: 1.5rem;
}

/* Make the p tags which start "green" green! */
#another .content p {
  color: green;
}

/* Make "A red h2!" red, but nothing else */
h2.red {
  color: red;
}

/* Put a border around the table header */
table {
border-collapse: collapse;
}

thead tr {
  border: 3px solid black;
}

/* Make 'some wrapped content' and 'and more' smaller */
.wrapper .content p {
  font-size: 0.5rem;
}

/* Make the first row of the table bold */
table tr:first-child {
  font-weight: 700;
}

/* Put a line after each table row, except the bottom one (use border-bottom) */
tbody tr:not(:last-child) {
  border-bottom: 2px solid black;
}

/* BONUS TASK: Give every other table row a grey background */
tbody tr:nth-of-type(odd) {
  background: grey;
}
