<div class="hero has-text-centered">
  <div class="hero-body">
    <h1 class="title is-1">Hello and Welcome to EJS Puppers!</h1>
    <h3 class="subtitle is-3">Click on Explore to have a look around</h3>
  </div>
</div>
