* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-color;
  letter-spacing: -1px;
  width: 1200px;
  main {
    margin: 0 auto;
    section {
      position: relative;
      margin: 0 auto;
      text-align: center;
      height: 600px;
    }
  }
}
