<form action="/cocktails" method="post">
  <div class="control">
    <label for="name">Name:</label>
    <input name="name" id="name" placeholder="e.g. Cuba Libre">
  </div>
  <div class="control">
    <label for="name">Image (URL)</label>
    <input name="image" id="name" placeholder="http://...">
  </div>
  <div class="control">
    <label for="price">Price</label>
    <input name="price" id="price" placeholder="2.5">
  </div>
  <button class="button">Create my cocktail!</button>
</form>
