<form action="/cocktails/<%= _id %>?_method=PUT" method="post">
  <div class="control">
    <label for="name">Name:</label>
    <input name="name" value="<%= name %>" id="name" placeholder="e.g. Cuba Libre">
  </div>
  <div class="control">
    <label for="name">Image (URL)</label>
    <input name="image" value="<%= image %>" id="name" placeholder="http://...">
  </div>
  <div class="control">
    <label for="price">Price</label>
    <input name="price" value="<%= price %>" id="price" placeholder="2.5">
  </div>
  <button>Update my cocktail!</button>
</form>
