.flash-container {
  position: relative;
  width: 30%;
  margin: 0 auto;
  .notification {
    position: absolute;
    animation: slidein 3s linear;
    z-index: 2;
    margin: 0 auto;
  }
}


@keyframes slidein {
  from {
    top: -100px;
  }
  15% {
    top: 0;
  }
  85% {
    top: 0;
  }
  to {
    top: -100px;
  }
}
