* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

header {
  background-color: rgb(239, 239, 239);
}

nav {
  background-color: rgb(239, 239, 239);
}

nav * {
  padding: 1rem 0;
}

nav div:last-of-type {
  font-size: 1.5rem;
}

nav div:first-of-type span:first-child {
  background-color: rgb(255, 255, 255);
  padding: 1.75rem;
}

nav .fab {
  font-size: 2.5rem;
  /* Applies gradient to text */
  background: -webkit-linear-gradient(rgb(252, 168, 49), rgb(128, 128, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul li {
  padding-right: 0.75rem;
  padding-bottom: 1.5rem;
}

nav ul li:last-child {
  padding-right: 1rem;
}

nav ul li:hover {
  border-bottom: 2px solid rgb(252, 168, 49);
}

input {
  border: none;
}

nav p, nav span {
  padding: 0 0.25rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
}

section:first-of-type button {
  background-color: rgb(69, 146, 252);
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.75rem 1rem;
}

aside p {
  color: rgb(128, 128, 128);
  text-align: center;
  font-size: 1.75rem;
}

aside .fa-angle-up, aside .fa-angle-down {
  font-size: 4rem;
}

aside .fa-star {
  font-size: 2.5rem;
}

tr td {
  padding: 0.25rem 0.5rem;
}

tr td:first-child {
  color: rgb(128, 128, 128);
}

article a {
  background-color: rgb(207, 224, 237);
  color: rgb(78, 115, 146);
  padding: 0.5rem 1rem;
}
