<h1>Edit your beer</h1>
<form class="" action="/beers/<%= _id %>?_method=PUT" method="post">
  <input type="text" name="name" value="<%= name %>">
  <input type="number" name="price" value="<%= price %>">
  <button>Edit</button>
</form>
