<h2 class="title is-2">Add a Puppy</h2>

<form action="/puppies" method="post">
  <div class="field">
    <label class="label is-size-4" for="name">Name</label>
    <input class="input is-info" type="text" name="name">
  </div>

  <div class="field">
    <label class="label is-size-4" for="countryOfOrigin">Country of Origin</label>
    <input class="input is-info" type="text" name="countryOfOrigin">
  </div>

  <div class="field">
    <label class="label is-size-4" for="colors">Some Common Colours (separated with , )</label>
    <input class="input is-info" type="text" name="colors">
  </div>

  <div class="field">
    <label class="label is-size-4" for="img">Image (URL)</label>
    <input class="input is-info" type="text" name="img">
  </div>

  <button class="button is-rounded is-info">Submit</button>

</form>
